{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<style>
    .container {
        background-color: white;
    }
</style>

<div class="container">


</div>
{% endblock %}
